<div class="text-center">
    <h1 class="display-4">GuestList - aplikacja do sporządzania listy gości</h1>
    <br />
    <h5 style="width:500px; margin:0 auto;">Planujesz imprezę, wesele, spotkanie firmowe czy inne wydarzenie? Nasza aplikacja do tworzenia listy gości to idealne narzędzie, które ułatwi Ci organizację i zapewni, że wszystko pójdzie gładko.</h5>
    <br />
    <h5 style="width:500px; margin:0 auto;">Zapomnij o chaotycznych notatkach i kartkach papieru. Nasza aplikacja pozwala na łatwe dodawanie, usuwanie i edytowanie gości jednym kliknięciem.</h5>
    <br />
    <h5>Sprawdź teraz:<a asp-action="Login"> Zaloguj się</a> lub <a asp-action="register">zarejestruj</a></h5>
</div>
